*.pyc
__pycache__ / 
venv/ 
env/ 
*.sqlite3 
*.env 
.env 
*.vscode/ 
.idea/ 
staticfiles/ 
media/ 
*.log 
*.cache 
*.pyc 
*.pyo 
*.pyd 
__pycache__/ 
*.log 
db.sqlite3 
env/ 
venv/ 
.vscode/ 
*.DS_Store 
*.idea/ 
